@model ICollection<McBan.Models.McUser>
@{
    ViewBag.Title = "Bans";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Banned On</th>
            <th>Banned Until</th>
            <th>Banned By</th>
            <th>Username</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            <tr>
                <td>
                    <a href="#">
                        <p align="center">
                            <img class="avatar noselect" src="https://crafatar.com/avatars/@user.UUID?size=25" />
                            <br />
                            @user.Username
                        </p>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <p align="center">
                            <img class="avatar noselect" src="https://crafatar.com/avatars/@user.BannedBy?size=25" />
                            <br />
                            @user.BannedByUsername
                        </p>
                    </a>
                </td>
                <td>@user.Reason</td>
                <td>@user.BannedOn</td>
                <td>@user.BannedUntil</td>

            </tr>
        }
    </tbody>
</table>

